<div class="mt-8 overflow-x-auto">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Id</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Class</th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">

      <% @classes['CalendarData'].each do |zone| %>
        <% zone_name =  zone['ZoneName'] %>
        <% zone['ClassesPerHour'].each do |cph| %>
          <% hour = cph['Hour'] %>
          <% cph['ClassesPerDay'].flatten.each do |obj| %>
          <tr>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
            <%= obj['Id'] %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
            <%= obj['Name'] %>
          </td>
        </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div> 